<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McDonalds Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div> <h1 class="jumbotron text-center">McDonalds Map Finder</h1> </div>
   <div> <h1>By: Bill & Adam</h1> </div>

   <div>
    <button onclick="document.getElementById('Restaurants_List').innerHTML = Restaurants_List()"></buttononclick>
        Restaurants_List
        
    </button>
    <p id="Restaurants_List"></p>
    </div>
    <script src="scripts.js"></script>
</body>
</html>